.column{
    width: 25%;
    float: left;
}
.san-pham{
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
 .san-pham .ten{
    font-size:larger;
    font-variant: small-caps; 
     color: blue}
.san-pham img{
    max-width:95%;}
    
.san-pham .gia{
    color: red;
    font-weight:bold;
     font-size:larger;}
.san-pham .gia del{
    color:gray}
    .san-pham>img:hover{
        border-radius: 5px;
        box-shadow: 2px 2px 10px red;
        background-color: aqua;
    }